/*-----------*/
/*  General  */
/*-----------*/

body {
    text-align: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color:inherit;
}

/*-----------*/
/* Headlines */
/*-----------*/

h1 {
    color: #2f4f4f;
}

#headline-sticky {
    position: fixed;
    top: -50px;
    width: 200px;
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
    display: none;
}

#headline-sticky img {
    width: 40px;
    height: 40px;
}

#headline-sticky img:hover {
    width: 43px;
    height: 43px;
}

/*-----------------*/
/*     Buttons     */
/*-----------------*/

.btn {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
    padding: 15px 30px 15px 30px;
    background-color: #067BFF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.btn:hover {
    background-color: #0555b1;
}

.go-up-btn {
    position: fixed;
    text-align: right;
    display: none;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.go-up-btn:hover {
    font-size: 17px;   
}

#change-btn {
    margin-bottom: 5%;
}

/*-----------*/
/* 1st Page  */
/*-----------*/

.container-1 {
    height: 100%;
}

.dropzone{
    width: 70%;
    height: 500px;
    border: 2px dashed lightgray;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    overflow: auto;
}

.dropzone:hover{
    cursor: pointer;
    border: 2px dashed rgb(85, 85, 85);
}

.dropzone h2{
    text-align: center;
    margin-top: 150px;
    font-weight: normal;
    line-height: 50px;
    color: darkslategray;
}

#h2-process {
    text-align: center;
    margin-top: 210px;
    font-weight: normal;
    line-height: 50px;
    color: darkslategray;
}

#file{
    display: none;
}

/* Thumbnail of file */
.thumbnail{
    width: 80px;
    height: 80px;
    padding: 2px;
    float: left;
}

.size{
    font-size:12px;
}

/*-----------*/
/* 2nd Page  */
/*-----------*/

.container-2 {
    height: 100vh;
    display: none;
}

.input-zone {
    padding-top: 20%;
}

#number-of-results {
    border-radius: 10px;
    font-size: 20px;
    border-color: black;
    height: 50px;
    border: 2px dashed lightgray;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    text-align: center;
}

#number-of-results:hover {
    border: 2px dashed rgb(85, 85, 85);       
}

/*-----------*/
/* 3rd Page  */
/*-----------*/

.container-3 {
    height: 100vh;
    display: none;
}

.result-zone {
    /*margin-top: 50px;*/
    /*height: 350px;*/
    text-align: center;
    padding-top: 10%;
}

.result-zone table {
    margin: 0 auto;
    text-align: center;
    display: none;
}

.result-zone table th {
    padding: 5px 20px 5px 20px;
}

.result-zone table .result-row th {
    font-weight: normal;
    /*text-align: center;*/
}

.result-table img {
    width: 55px;
    height: 55px;
}

.message-cell {
    text-align: left;
    max-width: 500px;
}

.time-cell {
    font-style: italic;
    font-size: 10px;
}

/*--------------*/
/* Modal window */
/*--------------*/

.modal-header {
    text-align: right;
    border-radius: 10px;
}

.modal-header span {
    padding-right: 10px;
    font-size: 40px;
}

.modal-header span:hover {
    cursor: pointer;
}
  
.modal-body {
    padding: 0;
}
  
.modal-content {
    display: none;
    position: fixed;
    background-color: #cc3939;
    border: 1px solid #cc3939;
    border-radius: 10px;
    width: 40%;
    box-shadow: 8px 4px 8px 8px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    top: 30%;
    left: 30%;
    color: white;
  }

.modal-body img {
    width: 50px;
    height: 50px;
}

.modal-error {
    font-size: 30px;
    margin: 0px;
}

.modal-error-message {
    margin: 10px;
    margin-bottom: 40px;
}
  