body {
    text-align: center;
    font-family: sans-serif;
}

.dropzone{
    width: 70%;
    height: 500px;
    border: 2px dashed lightgray;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    overflow: auto;
}

.dropzone:hover{
    cursor: pointer;
    border: 2px dashed rgb(85, 85, 85);
}

h1 {
    color: darkslategray;
}

.dropzone h1{
    text-align: center;
    margin-top: 150px;
    font-weight: normal;
    line-height: 50px;
    color: darkslategray;
}

.dropzone h2{
    text-align: center;
    margin-top: 200px;
    font-weight: normal;
    line-height: 50px;
    color: darkslategray;
}

#file{
    display: none;
}

/* Thumbnail of file */
.thumbnail{
    width: 80px;
    height: 80px;
    padding: 2px;
    float: left;
}

.size{
    font-size:12px;
}

/* Button which process files */
.btn {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
    padding: 15px 30px 15px 30px;
    background-color: #067BFF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 .btn:hover {
    background-color: #0555b1;
 }